<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Mendeley Python Example</title>
</head>
<body>
<a href="/logout">Logout</a>
<h1>{{name}}'s Notes</h1>

<table>
    {% for note in notes %}
    <tr>
        <td>{{note.type}}</td>
        <td>{{note.positions}}</td>
        {% if note.type == 'sticky_note' %}
            <td>{{note.text}}</a></td>
        {% endif %}
        
    </tr>
    {% endfor %}
</table>

<hr>
<!---
<form action="/metadataLookup" method="GET">
    DOI lookup:
    <input type="text" name="doi">
    <input type="submit">
</form> 
-->

</body>
</html>